IMAGE=selenium/standalone-chrome:latest
CONTAINER_NAME=headless-chromedriver
RESTART_POLICY=unless-stopped
SHM_SIZE=2gb
BIND_IP=127.0.0.1
WEBDRIVER_PORT=4444
VNC_PORT=7900
SE_NODE_MAX_SESSIONS=1
SE_VNC_NO_PASSWORD=1
