name: Python Package

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      OPENAI_API_BASE_URL: ${{ secrets.OPENAI_API_BASE_URL }}
      OPENAI_API_BASE: ${{ secrets.OPENAI_API_BASE }}
      OPENAI_API_MODEL: ${{ secrets.OPENAI_API_MODEL }}
      ZULIP_SITE: ${{ secrets.ZULIP_SITE }}
      ZULIP_BOT_EMAIL: ${{ secrets.ZULIP_BOT_EMAIL }}
      ZULIP_BOT_API_KEY: ${{ secrets.ZULIP_BOT_API_KEY }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest, macos-latest]
            
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[dev]
    - name: Test with pytest and coverage
      run: |
        mkdir -p .logs
        nohup chattool.capture-server --daemon --port 8000 &
        sleep 1
        coverage run -m pytest -s tests/ -m "not dns and not lark"
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
