name: Publish Package

on:
  push:
    tags:
      - '*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Verify tag matches package version
        run: |
          if [[ "$(git describe --tags)" != "$(grep "__version__" src/chattool/__init__.py | cut -d"'" -f2)" ]]; then echo "Tag does not match package version"; exit 0; fi
      - name: Set up Python "3.10"
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev] build
      - name: Build and publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python3 -m build
          twine check dist/*
          twine upload dist/* --skip-existing
